*{
    margin: 0;
    padding: 0;
    font-family: 'pp mori';
    box-sizing: border-box;
    /*color: white;*/
}
html , body{
    height: 100%;
    width: 100%;
}
#purple{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #edbfff;
    z-index: 100;
    opacity: 0;
    display: none;
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #edbfff;
    z-index: 8;
    mix-blend-mode: difference;
   /* transition: left linear 0.1s top linear 0.1s;*/
    transition: background-image ease 0.5s;
}
.main{
    background-color: #0f0d0f;
}
.page1{
    min-height: 100vh;
    width: 100vw;
    color: white;
    position: relative;
    z-index: 9;
    padding-top: 19vh;
}
#navbar{
    height: 80px;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 102;
    color: white;
}
#navbar-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#navbar-part2 h4{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
#h4{
    border-bottom: 1px solid white;
}
#navbar img{
    height: 30px;
}
#circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
}
.page1>h1{
    font-family: 'pp mori';
    font-size: 110px;
 
    font-weight: 400;
    margin-left: 14vw;
}
.page1>h2{
    font-family: 'pp mori';
    font-size: 110px;
    font-weight: 400;
    margin-left: 28vw;
}
.mainvideo{
    height: 20%;
    width: 60%;
    margin-top: 10%;
    position: relative;
    left: 50%;
    transform: translate(-50% , 0);
}
.page2{
    min-height: 105vh;
    width: 100%;
    padding: 7vw;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
    position: relative;
    z-index: 9;
}
.page2 h1{
    font-size: 7vw;
    font-weight: 800;

}
.page2-container{
    margin-top: 7%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page2-left {
    /*background-color: blue;*/
    font-size: 2.3vw;
    text-transform: uppercase;
    font-weight: 200;
    width: 38%;
}
.page2-right{
   /* background-color: red;*/
    width: 38%;
    font-size: 1.2vw;
    font-weight: 50;
    line-height: 30px;
}
.btn{
    border: 2px solid white;
    color: black;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    background-color: #edbfff;
    padding: 8px 0;
    cursor: pointer;
}
.btn:hover{
    background-color:  #ba8bcd;
}
.page3{
    min-height: 269vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 9;
    border-bottom: 1px solid black;
}
.page3 h1{
    font-size: 6vw;
    color: black;
    font-weight: 100;
    margin-left: 100px;
}
.page3-part1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.page3-part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page3-part1 img{
    height: 500px;
    margin-left: 5vw;
    margin-top: 160px;
}
.page3-part2 img{
    height: 420px;
    margin-right: 2vw;
    margin-bottom: 50vh;
}
.page3-part1 video{
    height: 350px;
    left: 10px;
}   
.page3-part2 video{
    height: 420px;
    margin-top: 5%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 50;
    color: white;

}
.circle2{
    border-radius: 50%;
    /*border: 2px solid red;*/
    background-color: #edbfff;
    text-align: center;
    padding: 100px 0;
    height: 200px;
    width: 200px;
    margin-right: 10%;
}
.circle2:hover{
    background-color: #0f0d0f;
    color: white;
    height: 210px;
    width: 210px;
    cursor: pointer;
}
.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 100px 100px;
}
.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: salmon;*/
    
}
.text-div{
    height: 120px;
    overflow: hidden;

}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: all ease-out 0.5s;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1) {
    left: 2%;
}
.elem img:nth-child(3) {
    right: 10%;
}
.elem:hover h1{
    transform: translateY(-100%);
    color: #edbfff;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0) rotate(0deg);
}
.page5{
    min-height: 170vh;
    width: 100%;
    position: relative;
    color: white;
    z-index: 9;
    padding: 140px 100px;
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 50px;
}
.box{
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 1.5px solid #dadada;
}
.box:nth-last-child(1) {
    border-bottom: 1px solid #dadada;
}
